@font-face {
    font-family: 'Markella';
    src: url('../fonts/Markella.eot');
    src: url('../fonts/Markella.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Markella.woff') format('woff'),
        url('../fonts/Markella.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

